<h1><%= title %></h1>
<section class="dashboard-container">
    <section class="dashboard">
        <section class="card">
            <header>
                Billing amount
            </header>
            <section>
                <%= minaCoinData.theirBalance + ' coins' %>
            </section>
            <!-- <a href="#" onclick="window.print();return false;">Print bill</a> -->
            <a href="/print">Print bill</a>
        </section>

        <section class="card">
            <header>
                My Balance
            </header>
            <section>
                <%= minaCoinData.myBalance + ' coins' %>
            </section>
            <a href="#">Checkout my balance</a>
        </section>

        <a class="button" role='button' href="/data">Look up full logs ></a>
    </section>

    <% include ./partials/log-table %>
</section>